.scoreCard {
    border: 2px solid white;
    border-radius: 13px;
    padding: 10px 15px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 12rem;
}
.gameName {
    font-weight: 600;
    font-size: 35px;
    margin:  0;
    line-height: 42px;
}
.gameName > p {
    margin: 0;
    text-align: left;
}
.scoreBoard {
    display: flex;
    gap: 15px;
}
.score {
    box-sizing: border-box;
    height: 115px;
    width: 125px;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.score > p {
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #656565;
}
.score > h1 {
    margin: 0;
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #656565;
}
